
.mobile-bars-position{
    position: absolute;
    top:50px;
    right: 50px;
    display: none;
    .line-mbl-responsive{
        height:30px;
        width:30px;
      
        &:focus {
            outline: none;
            box-shadow: none;
          }
        // background-color: #333;
        position: relative;
        &::after{
            content:'';
            position: absolute;
            top:12px;
            left: 0;
            height: 2px;
            border-radius: 10px;
            width: 17px;
            background-color: #333;
        }
        &::before{
            content:'';
            position: absolute;
            height: 2px;
            border-radius: 8px;
            width: 10px;
            background-color: #333;
            top:6px;
            left: 0;
        }
    }
    
}
.menu-btn{
    border:0;
    background-color: transparent;
}
.header-mbl-social-icon{
    padding-left:30px;
    a{
        height: 40px;
        width: 40px;
        line-height: 37px;
        border-radius: 50%;
        border:1px solid#29D882;
        text-align: center;

        margin-right: 8px;
        &:last-child{
            margin-right:0px;
        }
        svg{
            path{
                fill: #29D882;
            }
        }
        
    }
    a:hover{
        height: 40px;
        width: 40px;
        background-color:#29D882;
        border:1px solid#29D882;
            svg{
                path{
                    fill: #ffff;
                }
            }

        
    }
}
.mobile-menu-header{
    border-bottom: 1px solid #E9EAF0;
    padding-bottom: 15px;
    padding-left:30px;
    
    
}
.main-menu{
    position: absolute;
    top:30px;
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
}